/* Your Code Here! */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary: #396dff;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.u-textCenter {
  text-align: center;
}

.navContainer {
  background-color: var(--primary);
  padding: var(--s) var(--m);
}

.navTitle {
  color: var(--white);
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}

.avatarContainer {
  padding: 0 35%;
}

.avatar {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;

  /* div height to be the same as width */
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  background-image: url("./cat.png");

  /* centering an image's center */
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;

  /* make the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* make this dive centered in parent */
  margin: 0 auto;
}

.u-flex {
  display: flex;
}

.u-flex-item {
  flex: 50%;
}
